node_modules
bin
unused

node_modules
.env
coverage
coverage.json
typechain
typechain-types
web3types

#Hardhat files
cache
artifacts


.idea
.vscode

node_modules_backup

.DS_Store
insight_rep
remix-compiler.config.js
syntest/
contracts/mcore*
mcore*
abi
dist
work_dir/*
fuzzing/*
fuzzfiles/*
.vscode/settings.json
/*.txt
test/generated.ts.bak
abis/
